body{
    margin: 0;
    padding: 0;
    background: #eee;
}

#barra{
    background-color: rgb(4, 115, 240);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.reloj {
	display:inline-block;
	background:rgb(4, 115, 240);
	color:#bbcbe9;
	padding:15px;
	font-weight:bold;
	font-size:20px;
	border-radius:50px;
	border: 4px solid #cad3dc;
}


.links{
    /*flex*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#logo{
    display: inline;
    float: left;
    width: 60px;
}

#barra a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
}

.menu{
    display: inline;
    padding: 10px;
}

.botones{
    float: right;
    margin: 10px;
    flex-grow: 1;
}

.titulo{
    float: left;
    margin: 0;
    background-color: rgb(4, 115, 240);
}

.botones:hover{
    background-color: rgb(16, 58, 97);
    
}



#contenedor{
    padding-top: 150px;
    width: 100%;
    /*Flex*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.video{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;

}

.video iframe{
    border: 20px rgb(4, 115, 240) solid;
    border-radius: 15px;
}


#notas{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px rgb(4, 115, 240) solid;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    background-color: white;

}

.post a{
    text-decoration: none;
    color: black;
}
.post a:hover{
    color: rgb(4, 115, 240);
}

.post img{
    max-width: 50%;
    max-height: 200px;
    padding: 15px;
}

.post .texto{
    width: 50%;
    padding: 15px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: rgb(4, 115, 240);
}